body {
    max-width: 1200px;
    line-height: 1.7;
    margin: 0;
    padding: 16px;
    margin-left: auto;
    margin-right: auto;
}

.main-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

.grid-panel {
    display: grid;
    border: 1px solid black;
}

.grid-item {
    border: 1px solid black;
}

.borderless {
    border: none !important;
}

.title {
    font-style: italic;
    text-decoration: underline;
}
