body {
    max-width: 1200px;
    line-height: 1.7;
    margin: 0;
    padding: 16px;
    margin-left: auto;
    margin-right: auto;
}

aside {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

.grid-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin: 0 auto;
}

.main-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    text-align: center;
}

.grid-panel {
    display: grid;
    border: 1px solid black;
}

.grid-item {
    border: 1px solid black;
}

.borderless {
    border: none !important;
}

.title {
    font-style: italic;
    text-decoration: underline;
}

.title-header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.actions {
    display: flex;
    flex-direction: row;
}

.options {
    display: flex;
    flex-direction: row;
}

.options > div {
    border: 1px solid black;
    padding: 1px;
}

#giw {
    width: 80px;
}
