body {
    max-width: 1200px;
    line-height: 1.7;
    margin: 0;
    padding: 16px;
    margin-left: auto;
    margin-right: auto;
}

.main-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

.grid-panel {
    display: grid;
}

.grid-item {
    border: 1px solid black;
}
